.education-card {
    background: #130f2a;
    border-radius: 0.65rem;
    border: 1.5px solid #6751b9;
    padding: 1.5rem;
    margin: 0 1rem;
}

.education-card h6 {
    font-size: 1.05rem;
    font-weight: 500;
    margin-bottom: 0.7rem;
}

.duration {
    display: inline-block;
    background: rgba(103, 81, 185, 0.5);
    border-radius: 0.3rem;
    padding: 0.4rem 0.6rem;
    margin-bottom: 1.3rem;
}

.course {
    list-style: none;
    margin-bottom: 0.5rem;
    position: relative;
}

.course, .duration {
    font-weight: 400;
    font-size: 0.9rem;
}

.education-card h6, .duration, .course {
    font-family: 'Courier New';
}

@media (max-width: 768px) {
    .education-card {
        margin: 0;
    }

    .education-card h6 {
        font-size: 0.95rem;
    }

    .education-card .course {
        font-size: 0.75rem;
    }
}
