.contact-details-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.contact-details-card, .contact-details-card:nth-child(3) {
    height: 150px;
}

.contact-details-card {
    background: #130f2e;
    border-radius: 0.65rem;
    border: 1.5px solid #6751b9;
    padding: 1.5rem;
    flex-direction: column;
    text-align: center;
}

.contact-details-card:nth-child(3) {
    grid-column: 3;
}

.contact-details-card, .contact-details-card .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-details-card .icon {
    border-radius: 0.5rem;
    background: #3d3072;
    padding: 20px;
    margin-bottom: 0.8rem;
}

.icon img {
    width: 1.8rem;
    height: auto;
    object-fit: contain;
}

.contact-details-card .icon::before {
    content: "";
    position: absolute;
    width: calc(1.8rem + 10px);
    height: calc(1.8rem + 10px);
    background: #6751b9;
    border-radius: 0.3rem;
    z-index: -1;
}

.contact-details-card p {
    font-size: 0.9rem;
}

@media (max-width: 500px) {
    .contact-details-card {
        max-width: 100%;
        padding: 1rem;
    }

    .contact-details-container {
        grid-template-columns: 1fr; 
    }
}

@media (max-width: 600px) {
    .contact-details-card:nth-child(3) {
        grid-column: span 3;
        grid-row: 2;
    }
}
