.contact-container {
    margin: 4rem 0;
    position: relative;
}

.contact-container h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.contact-content {
    display: flex;
    gap: 3rem;
}

@media (max-width: 768px) {
    .contact-content {
        flex-direction: column-reverse;
    }

    .contact-container h5 {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
}

.contact-content {
    display: flex;
    gap: 3rem;
}

.contact-info-container {
    display: grid;
    z-index: 1;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    max-width: 400px;
    text-decoration: underline;
    text-decoration-color: #0000EE;
}

.contact-info-container .contact-card:nth-child(3) {
    grid-column: span 2;
}

@media (max-width: 500px) {
    .contact-info-container {
        grid-template-columns: 1fr;
    }

    .contact-info-container .contact-card:nth-child(3) {
        grid-column: span 1;
    }
}